<footer class="text-center text-white fixed-bottom" style="background-color:black">
    <!-- Grid container -->
  
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: black;color: white;">
     MathieuHedot © 2021 Copyright:
    
    </div>
    
</footer>
