<!-- partie sweetalert2

<h1> Angular 12 SweetAlertExample</h1>
<button> simple alert</button>
<button> alert with success</button>
<button>confirm box</button> -->
<!-- partie digram hichart -->
<h1> Diagrams spline test:</h1>
<div class="bordercadre">
    <h1>Angular Highcharts demo</h1>   
    <highcharts-chart
       [Highcharts] = "highcharts" 
       [options] = "chartOptions">
    </highcharts-chart>


</div>