<div [hidden]="submitted">
    <form #petform="ngForm" (ngSubmit)="onSubmit()">

        <div>
            Form Test:
        </div>
        <div>
            <label for=""> Nom </label>
            <input type="text" required name="name" id="name" [(ngModel)]="model.name">
        </div>
        <div>
            <label for=""> Color </label>
            <input type="color" required name="color" id="color" [(ngModel)]="model.color">
        </div>
        <div>
            <label for="species"> Espèce:</label>
            <select name="species" id="specie" required [(ngModel)]="model.specie">
                <option *ngFor="let specie of species" [value]="specie">{{specie}}</option>
            </select>
        </div>
        <button type="submit" [disabled]="!petform.form.valid"> Soumettre</button>
    </form>
</div>
<!-- <p> result: <span> {{model| json }}</span></p> -->
<div [hidden]="!submitted">

    <div>
        <p> Name: {{model.name}}</p>
        <p> espèce {{model.specie}}</p>
        <p> color : {{model.color}} </p>
        <button (click)="edit()" > edit</button>
    </div>

</div>