.rep{
    display: flex;
    flex-direction: row;
}
h2{
    text-align: center;
    font-size: 4em;
    color: black;
}
a{
    color:white;
}
.soustitre{
    text-align: center;
    font-size: 2em;
    color: black;
}
.box{
    margin-left: 10%;
    margin-right: 2%;
    margin-bottom: 5%;
    width:40%;
    background-color: #FCCC2E;
    border: 5px solid black;

}
.cadre{
     margin-left:5%;
     background-color: white;
     border: 5px solid black;
     padding-bottom: 2%;
     width:330px;
     margin-bottom: 2%;
}
.cadrespec{
    margin-left:5%;
    background-color: white;
    border: 5px solid black;
    padding-bottom: 2%;
    width:90%;
    margin-bottom: 2%;
}
.titrepart{
    background-color: white;
    font-size: 2em;
    padding-top: 3%;
    padding-left: 1%;
    height: 2.5em;
    border: solid 5px black;
}
#symbol{
    margin-left:50%;
}
#category, #Description{
    margin-left:3%;
}
#nom{
    margin-left: 15%; margin-right:3%;
}
#trait{
    text-align: center;
}

@media (min-width: 280px) and (max-width:1000px) {
    .rep{
        display: flex;
        flex-direction: column;
        margin-bottom: 20%;
    }
   h1,h2,h3,h4 h5{
            margin-left:10%;
       text-align: center;
        width: 100% ;
        font-size: 1.4em;
    }
    .soustitre{
        margin-left:25%;
        width:50%;
        text-align: left;
        font-size: 1.2em;
        color: black;
    }
    .box{
        margin-left: 25%;
        margin-right: 2%;
        margin-bottom: 5%;
        width:50%;
        background-color: #FCCC2E;
        border: 5px solid black;
    
    }
    .cadre{
        margin-left:5%;
        background-color: white;
        border: 5px solid black;
        padding-bottom: 2%;
        width:100%;
        margin-bottom: 2%;
    }
    button{
        width:100%;
        font-size: 0.75em;
    }
    h5{
        margin-left:10%;
   text-align: left;
    width: 100% ;
    font-size: 1em;
}
.cadrespec{

    margin-left:1%;
    background-color: white;
    border: 5px solid black;
    padding-bottom: 2%;
    width:100%;
    margin-bottom: 20%;
}
.titrepart{

    background-color: white;
    font-size: 1em;
    padding-top: 3%;
    padding-left: 1%;
    height: 2.5em;
    border: solid 5px black;

}
#symbol{margin-top: -2%;}
  }