<div class="input-box">
    <label for="saerch"> search </label>
    <input type="text" name="search" id="search" (keyup)="onSaerch($event)">  
    <!-- <div (click)="getid()"> show </div> -->
</div>

<div *ngIf="visisbilite==false">
   
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="datapages[elts].url" alt="Card image cap">
        <div class="card-body">
            <p>element n° {{datapages[elts].id}}
            </p>
            <p class="card-text">{{datapages[elts].title}}</p>
        </div>
    </div>
  
</div>
<div *ngIf="visisbilite==true">
    <div *ngIf="position>limitmin && position<=limitemax">
        <div style="display:flex; flex-direction:row;">
            <div *ngFor="let data of datapages" style="display:flex; flex-direction:row;">
                <div *ngIf="data.id>=valmin ">
                    <div *ngIf="data.id<=valmax ">
                        <div class="card" style="width: 18rem;"appHostdirective>
                            <img class="card-img-top" [src]="data.url" alt="Card image cap">
                            <div class="card-body">
                                <p>element n° {{data.id}}
                                </p>
                                <p class="card-text">{{data.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:flex; flex-direction:row;">
            <button (click)="retour()">previous </button>
            <p> {{position}}</p>
            <button (click)="avance()">Next</button>
        </div>
    </div>
</div>