<!-- <app-menu></app-menu> -->
<div class="container">
    <h1> GESTION des evenements</h1>
  
    <a href="#" routerLink="/post/create/" class="btn btn-success" style="margin-bottom: 2%;">Creer un nouvel evenement</a>
    <a href="#" routerLink="/accueil" class="btn btn-success" style="margin-bottom: 2%;">accueil</a>
    
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
        <th>Author</th>
        <th>Image</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let post of posts">
        <td>{{ post._id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
        <td>{{ post.author }}</td>
        <td>{{post.imgUrl}}</td>
        <td>
          <!-- <a href="#" [routerLink]="['/post/', post.id, 'view']" class="btn btn-info">View</a> -->
          <a href="#" [routerLink]="['/post/', post._id, 'edit', {postId: post._id}]" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deletePost(post._id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </div>
 <!-- <app-footer></app-footer> -->