<div *ngFor="let data of datas">
    <h1> {{data.name}}</h1>
    <button (click)="voir(data.id)"> voir </button>
</div>
<div class="container text-center mb-3" >
    <!-- <p>The default dropzone.</p>-->

    <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label> c: {{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
    </ngx-dropzone> 
</div>
<div class="container text-center mb-3">
    <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label> c: {{ f.name }} ({{ f.type }}), ({{f.size}})</ngx-dropzone-label>
        </ngx-dropzone-preview>
    </ngx-dropzone> 

    <!-- <p>The disabled but expanding dropzone.</p>

    <ngx-dropzone (change)="onSelect($event)" [disabled]="true" [expandable]="true">
        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
    </ngx-dropzone> -->

    <p>A custom dropzone.</p>

    <!-- <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
        <ngx-dropzone-label>
            <div>
                <h2>My custom dropzone</h2>
            </div>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
    </div> -->
</div>