<!-- <div>
    <div>
        <h1> Inscription:</h1>
        <a href="#" routerLink="/signin">Connection</a>
        <div> -->

<body style="background-image:url('./assets/img/image.jpg') ;">

  <h1> Administrer votre application:</h1>
  <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">

    <label class="message"> votre nom complet</label>
    <input type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName"
      placeholder="" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
    <div *ngIf="signUpForm.submitted && !fullName.valid">
      <label class="validation-message">This field is required.</label>
    </div>

    <label class="message"> votre email</label>
    <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" 
      required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
    <div *ngIf="signUpForm.submitted && email.errors">
      <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
      <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
    </div>

    <label class="message"> votre mot de passe </label>
    <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
       minlength="8" required
      [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">

    <div *ngIf="signUpForm.submitted && password.errors">
      <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
      <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 8 characters.</label>
    </div>

    <input type="hidden" #role="ngModel" [(ngModel)]="userService.selectedUser.role" name="role">

    <input type="submit" value="Sign Up">
    <div style="color:white">
      si vous avez deja un compte:
      <a href="#" routerLink="/signin">Connection</a>
    </div> 

  </form>


  <!-- Success message -->
  <div class="success" *ngIf="showSucessMessage">
    Saved successfully
  </div>

  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>
</body>
<!-- </div>
    </div>

</div> -->