body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
  }
  
  h1 {
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-top: 5%;
  }
  
  form {
    background-color: transparent;
    margin-left: 35%;
    margin-top: 5%;
    width: 25%;
    height: 55%;
    padding: 2%;
    border: 1px solid white;
  }
  
  input[type=text],
  input[type=password] {
    margin: 5%;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
  }
  
  .message {
    color: white;
    font-size: 0.75em;
  }
  
  .invalid-textbox {
    color: red;
    margin-top: 2%;
    font-size: large;
  }
  
  .validation-message {
    color: red;
    margin-top: 2%;
    font-size: large;
  }
  
  a {
    text-decoration: none;
    color: Black;
  }
  