<app-navbar></app-navbar>
<div class="container">


    <a href="#" routerLink="/product" class="btn3">Accueil</a>

    <h2>Creer un nouveau produit</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="rep">
            <div class="form-group">
                <label for="titre">titre</label>
                <input formControlName="titre" id="titre" type="text" class="form-control">
                <div *ngIf="f.titre.touched && f.titre.invalid" class="alert alert-danger">
                    <div *ngIf="f.titre.errors?.required">titre is required.</div>
                </div>
            </div>
            <div style="color:white;">///</div>

            <div class="form-group">
                <label for="titre">name:</label>
                <input formControlName="name" id="name" type="text" class="form-control">
                <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                    <div *ngIf="f.name.errors?.required">titre is required.</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="body">description du produit</label>
            <textarea formControlName="description" id="description" type="text" class="form-control">
            </textarea>
            <div *ngIf="f.description.touched && f.description.invalid" class="alert alert-danger">
                <div *ngIf="f.description.errors?.required">description is required.</div>
            </div>
        </div>
        <div class="rep">
            <div class="form-group">
                <label for="titre">date:</label>
                <input formControlName="date" id="date" type="date" class="form-control">
                <div *ngIf="f.date.touched && f.date.invalid" class="alert alert-danger">
                    <div *ngIf="f.date.errors?.required">date is required.</div>
                </div>
            </div>
            <div style="color:white;">///</div>
            <div class="form-group">
                <label for="imageUrl">imageUrl:</label>
                <input formControlName="imageUrl" id="imageUrl" type="text" class="form-control">
                <div *ngIf="f.imageUrl.touched && f.imageUrl.invalid" class="alert alert-danger">
                    <div *ngIf="f.imageUrl.errors?.required">imageUrl is required.</div>
                </div>
            </div>
        </div>

        <div class="rep">
            <div class="form-group">
                <label for="category">category</label>
                <input formControlName="category" id="category" type="text" class="form-control">
                <div *ngIf="f.category.touched && f.category.invalid" class="alert alert-danger">
                    <div *ngIf="f.category.errors?.required">category is required.</div>
                </div>
            </div>
            <div style="color:white;">///</div>
            <div class="form-group">
                <label for="quantité">quantité</label>
                <input formControlName="quantity" id="quantity" type="number" class="form-control">
                <div *ngIf="f.quantity.touched && f.quantity.invalid" class="alert alert-danger">
                    <div *ngIf="f.quantity.errors?.required">quantity is required.</div>
                </div>
            </div>
        </div>
        <div classe='rep'>
            <div class="form-group">
                <label for="quantité">etat</label>
                <input formControlName="etat" id="etat" type="text" class="form-control">
                <div *ngIf="f.etat.touched && f.etat.invalid" class="alert alert-danger">
                    <div *ngIf="f.etat.errors?.required">etat is required.</div>
                </div>
            </div>
            <div style="color:white;">///</div>
            <div class="form-group">
                <label for="quantité">Nom de l'acheteur</label>
                <input formControlName="NomConsommateur" id="NomConsommateur" type="text" class="form-control">
                <div *ngIf="f.NomConsommateur.touched && f.NomConsommateur.invalid" class="alert alert-danger">
                    <div *ngIf="f.NomConsommateur.errors?.required">NomConsommateur is required.</div>
                </div>
            </div>
        </div>
        <button class="btn3" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>
<app-footer></app-footer>