<!-- <app-menu></app-menu> -->
<div class="container">
    <h1>Create New Post</h1>
  
    <a href="#" routerLink="/post" class="btn btn-primary">Back</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="title">Title:</label>
            <input 
                formControlName="title"
                id="title" 
                type="text" 
                class="form-control">
            <div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger">
                <div *ngIf="f.title.errors?.required">Title is required.</div>
            </div>
        </div>
  
        <div class="form-group">
            <label for="body">Body</label>
            <textarea 
                formControlName="body"
                id="body" 
                type="text" 
                class="form-control">
            </textarea>
            <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
                <div *ngIf="f.body.errors?.required">Body is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="autheur">Autheur:</label>
            <input 
                formControlName="author"
                id="author" 
                type="text" 
                class="form-control">
            <div *ngIf="f.author.touched && f.author.invalid" class="alert alert-danger">
                <div *ngIf="f.author.errors?.required">author is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="autheur">date:</label>
            <input 
                formControlName="date"
                id="date" 
                type="date" 
                class="form-control">
            <div *ngIf="f.date.touched && f.date.invalid" class="alert alert-danger">
                <div *ngIf="f.date.errors?.required">date is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="autheur">image:</label>
            <input 
                formControlName="imgUrl"
                id="imgUrl" 
                type="text" 
                class="form-control">
            <div *ngIf="f.imgUrl.touched && f.imgUrl.invalid" class="alert alert-danger">
                <div *ngIf="f.imgUrl.errors?.required">imgUrl is required.</div>
            </div>
        </div>
  
  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>
<!-- <app-footer></app-footer> -->