<body>
  <div class="cadre">
    <!-- <a routerLink='/login'>Connexion</a>
      <a routerLink='/register' class="champs"> Authentification</a> -->

    <main>
      <div class="position">
        <h1> Simplon's Drink</h1>
        <p> Buvons Bien ensemble</p>
        <a routerLink='/accueil' class="champs"> Accueil</a>
      </div>

    </main>
  </div>
</body>