<app-navbar></app-navbar>

  <article >
    <h1>Gestion des Evenements:</h1>

    <a href="#" routerLink="/pbcartecreate" class="btn2">Creer un nouvel evenement</a>
    <br> <br> <br>
    <table class="table">
      <tr class="cadretitre">
        <th>ID</th>
        <th>Titre</th>
        <th>Contenu</th>
        <th>author</th>
        <th>date</th>
        <th>terminaison imgUrl</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let post of cartes">
        <td>{{ post._id }}</td>
        <td>{{ post.titre }}</td>
        <td>{{ post.contenu }}</td>
        <td>{{ post.author }}</td>
        <td>{{ post.date |date:'shortDate' }}</td>
        <td>{{ post.imgUrl}}</td>
        <td>
          <!-- <a href="#" [routerLink]="['/post/', post._id, 'view']" class="btn btn-info">View</a>-->
          <a href="#" [routerLink]="['/pbcarte/', post._id, 'edit', {postId: post._id}]" class="btn3">EDIT</a>

          <a class="action-btn" (click)="deletePost(post._id)" class="btn2">
            DELETE
          </a>
        </td>
      </tr>
    </table>
  </article>
 

<app-footer></app-footer>