<div *ngIf="visible==true">
    <button (click)="visibilite()" printSectionId="Tournois" ngxPrint > Imprimer </button>
</div>
<div id="Tournois">
    <h1> Participant au Tournoi</h1>
    <div *ngFor="let participant  of participants">
        <p> {{participant.nom}} | {{participant.prenom}}</p>

        <p> {{participant.age}}</p>
        <hr>
    </div>
   
</div>