body{
   background-color:white;
    width: 100%;
    height: 100vh;
}
h1{text-align: center;}
input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
  }
.cadre{
    background-color:transparent;
    color:black;
    padding-top: 5%;
    margin-left:25%;
    /* margin-top:10%; */
    height: 35em;
    width:50em;
    border: solid 10px black;
}
.position{margin-left: 25%;}
table{
margin-left:33%;
margin-top:5%;margin-bottom: 5%;}
th, td {
    margin-left: 5%;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }

  
  .btn {
    background-color: rgb(77, 200, 52);
    /* Green */
    border: none;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
  }
  
  .btn2 {
    background-color: rgb(251, 173, 37);
    /* Green */
    border: none;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    margin-top: 5%;
  }
  
  /* .btn {
      background-color: rgb(77, 200, 52);
      color: white;
      padding: 2px 25px;
      margin-top: 2%;
      border-radius: 10px;
      height: 2.5em;
      width: 10em;
    }
   
     */
  
  /* .btn2 {
      background-color: rgb(251, 173, 37);
      color: black;
      padding: 7px 20px;
      margin-bottom: 0%;
     
      border-radius: 1px;
      height: 2em;
      width: 10em;
    } */
  a {
    text-decoration: none;
    margin-bottom: 5%;
    margin-left: 10%;
  }
  
  .btn3 {
    background-color: #FAF5BC;
    color: black;
    margin-left: 0;
    padding: 25px 75px;
    margin-top: 10%;
    border-radius: 50px;
    height: 5em;
  
  }
  
  .btn4 {
    background-color: #202525;
  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 85%;
    border-radius: 12px;
    padding: 0.2em 1.0em;
    color: white;
    cursor: pointer;
  }