<div *ngFor="let data of datas">
    <div *ngIf="data.id===idsearched">
        <h1> {{data.name}} </h1>
        <p> {{data.detail}} </p>
    </div>

<div *ngIf="idsearched!>lengthdata"></div>


</div>