h2{
    color:gold; margin-left: 45%;
}
.encadre{
    font-weight: bold;
    font-size: x-large;
    color: black;
    border: black solid 0.25em;
   /* background-color: white; */
    width: 33%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
    padding-bottom: 0%;
    background-color:gold;
    display:flex;
      flex-direction:row;
      flex-wrap: wrap;
  }
  .bigcadre{
      border: black solid 5px;
      margin: 5%;
  }
  .search{
      margin: 5%;
  }
  .repartition{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      border: black solid 1px;
      margin: 2%;
     
     
  }
  .souscadre{
      width: 100%;
      background-color: blanchedalmond;
      border: solid 1px black;
  }
  .doc{
      margin-top: 1%;
      width:50%
  }
  .text{
      margin:2%;
  }