 <button > <span *ngIf="isok==false"(click)="photo(false)"> Take a picture </span> <span *ngIf="isok==true" (click)="photo(true)"> Fermer la capture </span></button>
 <div *ngIf="isok">
    <div *ngIf="!webcamImage">
        <div style="text-align: center;">
            <div>
                <p>{{seconds}}</p>
                <webcam [trigger]="triggerObsrvable" (imageCapture)="handleImage($event)"> </webcam>
                <br />
                <button (click)="takepicture()"> Take picture </button>
            </div>
    
        </div>
    </div>
    <p> observation de l'image </p>
    <div *ngIf="webcamImage">
        <img [src]="webcamImage.imageAsDataUrl" style="margin-left: 10%;">
        <div style="margin-top: 5%;" (click)="edit()"> modifier </div>
    </div>
 </div>
