<!-- <app-child texte={{titre}}></app-child> cela si prop venant de .ts -->
<!--<app-child [texte]="'text1'" ></app-child>  cela si valeur direct sans passer par ts-->

<!-- child to parent  -->
<app-child (messageEvent)="receive($event)"></app-child>
<!-- cas de attribute binding -->
<div [class.sale]="onsale">
    hello test color!
</div>
<!-- two way binding -->
<!--<div> 
    <input type="text" [(ngModel)]="userName">
    <p *ngIf="userName=== 'aaa' "> {{userName}} + aaa</p>
    <p *ngIf="userName !='aaa' "> {{userName}} </p>
</div> -->
<!-- template variable # -->
<input #phone type="text"  placeholder="state true or false"/>

<button (click)="callphone(phone.value)"> call </button>
<!-- ngClass Test -->
<button (click)="state()"> click </button>
<div [ngClass]="isSpeciale ? 'speciale':'sale'"> test ng classe</div>
<!-- cas service  -->
<div> {{valeurmontrer}} </div>
<!-- deplacement vers page en un click -->
<button (click)="go()"> voir </button>

<!-- deplacement vers page en un click -->
<button (click)="go2()"> photo </button>

<!-- info concernant recup id depuis champs d'input -->
<div> test Input:</div>
<input #input type="number" (click)="select($event)">
<p>{{input.value}}</p>

<!-- partie font-awesome -->
<i class="fa fa-user fa-5x"></i>
<!-- test partie ngx-pipes -->
<!-- <p> {{textessai |reverse}}</p> -->