<nav class="navbar navbar-expand-lg navbar-light "style="background-color:black;">
    <!-- <a class="navbar-brand"style="color: blanchedalmond;" href="#">Welcome</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link"routerLinkActive='active' routerLink='/accueil' style="color: blanchedalmond;" href="#">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive='active' routerLink='/product' style="color: blanchedalmond;" href="#">Produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: blanchedalmond;"routerLinkActive='active' routerLink='/adduser'>Profil</a>
        </li> -->
        
      </ul>
    </div>
</nav>
