<div class="container">
    <h1></h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <!-- cas de select en ReactForm -->
        <div class="form-group">
            <label for="Titre de Noblesse"> Titre de Noblesse </label>
            <select formControlName="noblesse" class="form-control" (change)="changetitreNoblesse($event)">
                <option> Choisissez un titre </option>
                <option *ngFor="let titre of dataList">{{titre}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="f.noblesse.touched && f.noblesse.invalid">
              <div *ngIf="f.noblesse.errors"> Titre est obligatoire</div>  
            </div>
        </div>
        <!-- cas de bouton radio -->
        <div class="form-group">
            <label for="puissance">Puissance</label>
            <div *ngFor="let force of listforce">
                <label> {{force}} </label>
                <input type="radio" name="puissance" value={{force}} formControlName="puissance" >

            </div>
        </div>
        <div class="form-group">
            <label for="date"> date création</label>
            <input type="date" name="date" id="date" formControlName="date">

        </div>
        <div class="form-group">
            <!-- <ngx-recaptcha2 #captchaElem [siteKey]="" formControlName="recaptcha"></ngx-recaptcha2> -->
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Soumettre</button>
    </form>
</div>