<div class="col-2">
    <select class="custom-select" (change)="changeLang($event.target)">
        <option value='en' [selected]="Langue==='en'"> Anglais</option>
        <option value='fr'[selected]="Langue==='fr'">Français</option>
        <option value='esp' [selected]="Langue==='esp'">Espagne</option>
    </select>
</div>
<hr>
<app-posts></app-posts>