<!-- 
<nav class='navbar'>
  
  <ul class='nav-list'>
    <li> <a class="list-item"routerLinkActive='active' routerLink='/accueil' style="color: blanchedalmond;" href="#">Accueil </a></li>
    <li> <a class="list-item" routerLinkActive='active' routerLink='/product' style="color: blanchedalmond;" href="#">Produits</a></li>
    <li> <a class="list-item" routerLinkActive='active' routerLink='/adduser'>Profil</a></li>
  </ul>
</nav> -->
<nav class="navbar navbar-expand-lg  ">
  <a class="navbar-brand ">Simplon&co</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color: white;"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"routerLinkActive='active' routerLink='/accueil'>Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive='active' routerLink='/productlist'>Produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive='active' routerLink='/adduser'>Profil</a>
      </li>
     
    </ul>
  </div>
</nav>
