/* .navbar{
  background-color: black;  
  color:white;
  display: flex;
   flex-direction: row; *
  justify-content: space-around;
  align-items: center;
  width: 100vw;
 
  
}
.nav-list{
    list-style-type: none;
}
.nav-list .list-item{
    display:inline-block;
    padding: 20px 20px;
} */
.navbar-toggler,.navbar-toggler-icon{color: white;}
nav{background-color: black;}
.nav-item{color:white}
.nav-link{
    color:white;
}