h1{text-align: center;}
h2 {
  font-size: 1em;
  color: white;

}
.para{text-align: center;}

.cadresend {
  width: 50%;
  height: 1em;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 25%;
}
.send-message{display: flex; flex-direction: row;}
.cadrelist {
  width: 66%;
  overflow-y: scroll;
  height: 20em;
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 25%;
  border: black 2px solid;
}

.souscadrelist {
  width: 10em;
  margin-left: 0%;
  margin-right: 10%;
  background-color: black;
  height: 100%;
}
.username{color: white;}
.message-list{margin-left: 10%;margin-right: 1%;}
hr{background-color: black; width:100%;}
.btn2 {
  background-color: rgb(251, 173, 37);
  /* Green */
  border: none;
  color: white;
  padding: 2px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  margin-top: 0%;
  margin-left: 47%;
}

.btn {
  background-color: black;
  border: none;
  color: white;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  margin-top: 5%;

}

input[type=text] {
  /* margin: 5%; */
  /* width: 25%; */
  padding: 12px 20px;
  margin: 8px 0;
  color: black;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
}

.message-box {
  background-color: black;
  margin-bottom: 5%;
  margin-left: -25%;
  padding-top: 5%;
  height: 7em;
  width: 20em;
  border: solid 1px black;
}

.message,
.name {
  color: white;
}
